/* CSS reset - reduce browser inconsistencies in things like default 
line heights, margins and font sizes of headings, and so on. */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q: after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* Clearfix - forces the containing element 
to expand to contain its child elements */
.clearfix:before,
.clearfix:after {
    content: ' '; 
    display: table; 
}

.clearfix:after {
    clear: both;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.slideshow, 
.what-can-section, 
.whats-happen-section, 
.stories-section, 
footer {
  width: 58.750em;
  margin: 0 auto;
}

/*********************************************************/

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.mainBox {
  height: 12.50em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.box {
  /*height: 5em;*/
  position: absolute;
  width: 10em;
}

.title {
    top: 10%;
    left: 2%;
}

h1 {
    font-size: 1.3em;
}

.price {
    top: 40%;
    left: 2%;
}

.back {
    top: 10%;
    right: 1em;
}

.quantity {
    top: 40%;
    bottom: 2em;
    right: 1em;
}

#txt_quantity {
    width: 2em;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 60%;  
}

.product-description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 8em;
}

.total {
    position: relative;
    top: 10em;
}

.checkout-button {
    position: absolute;
    top: 38em;
    right: 3em;
}

@media (min-width: 600px) {
   .mainBox {
        position: absolute;
        height: 40em;
        width: 50em;
        margin: -20%  -25% auto;
        top: 50%;
        left: 50%;
    }

   .box {
      /*height: 5em;*/
      position: absolute;
      width: 10em;
    }

   .product-image {
        top: 10%;
        left: -39%; 
    }

   .title {
        top: 10%;
        left: 23%;
    }

    h1 {
        font-size: 1.3em;
    }

    .price {
        top: 20%;
        left: 23%;
    }

    .back {
        top: 78%;
        right: 39em;
    }

    .quantity {
        top: 20%;
        bottom: 2em;
        right: 1em;
    }

    #txt_quantity {
        width: 2em;
    }

    .product-description {
        position: relative;
        left: 4em;
        width: 36em;
        top: 1em;
    }

    .total {
        position: relative;
        top: 10em;
        left: 35em;
    }

    .checkout-button {
        position: absolute;
        top: 37.5em;
        right: 3em;
    }
}
